force-app/main/default/flows/PaymentChargeFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>PaymentChargeFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PaymentChargeFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>175</locationX>
        <locationY>194</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PaymentCharge</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>PaymentCharge</name>
        <label>PaymentCharge</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PaymentChargeFlow</name>
            <extensionName>bt_stripe:PaymentChargeFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>chargePaymentGatewayId</name>
                <value>
                    <stringValue>a0M5e000000K1tCEAS</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>chargeAmount</name>
                <value>
                    <elementReference>Get_Opportunity.Amount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>chargeCurrency</name>
                <value>
                    <stringValue>USD</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>chargeDescription</name>
                <value>
                    <elementReference>Get_Opportunity.Description</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>chargeParentId</name>
                <value>
                    <elementReference>Get_Opportunity.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>Get_Opportunity.Account.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactId</name>
                <value>
                    <elementReference>Get_Opportunity.LeadSource</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>paymentMethodId</name>
                <value>
                    <elementReference>PaymentChargeFlow.paymentMethodId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>transactionId</name>
                <value>
                    <elementReference>PaymentChargeFlow.transactionId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
